html, body {
  background-color: #eee;
  margin: 0px;
  padding: 0px;
}
body {
  padding-top: 40px;
}
img.star{
  cursor:pointer;
}
#modal-from-dom{
  overflow:hidden;
}
.btn.xsmall{
  margin-right: 2px;
}