#loginPasswordIntro{
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset; 
  border: 1px solid rgba(0, 0, 0, 0.15);
  -moz-border-radius: 5px;
  width: 170px;
  white-space: pre; 
  margin-top: 10px; 
  background-color: #EEDC94;
  background-image: -moz-linear-gradient(center top , #FCEEC1, #EEDC94);
  background-repeat: repeat-x;
  padding: 5px;
  color: #404040;
}

#loginWarnLabel{
  color: #FFFFFF;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
  padding: 5px;
  background-color: #C43C35;
  background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -moz-border-radius: 5px;
  text-align: center;
  white-space: pre; 
  margin-bottom: -3px;
}